<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaWdpnoJKMi_DJtoY2S7Rth2ISZQrk3zw</string>
	<key>GCM_SENDER_ID</key>
	<string>679437069604</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.h2o.h2oexpress</string>
	<key>PROJECT_ID</key>
	<string>h2o-express-4c077</string>
	<key>STORAGE_BUCKET</key>
	<string>h2o-express-4c077.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679437069604:ios:da95e9427b92eb651cd7b1</string>
</dict>
</plist>